@import './base.css';

#app {
  max-width: auto;
  margin: 0 auto;
  font-weight: normal;
} 

body {
  background-color: #FFE86F; /* Pure Joy */
  margin: 0;
  padding: 0;
}

.logo-img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.avatar-img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
}
.logo-link {
  text-decoration: none;
}
